
body {
    margin: 0;
  }
  
  .signup-container {
    display: flex;
    justify-content:flex-end;
    background-image: url('https://i.pinimg.com/564x/7f/6a/35/7f6a35ff2444a468a0ca0dd27256127d.jpg');
    background-repeat: no-repeat;
    background-size: 70vw 100vh;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .signup-form {
    margin-right: 100px;
    margin-left: 100px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .signup-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .signup-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signup-button:hover {
    background-color: #218838;
  }
  
  
  .login-container {
    display: flex;
    justify-content: flex-end;
    background-image: url('https://i.pinimg.com/564x/7f/6a/35/7f6a35ff2444a468a0ca0dd27256127d.jpg');
    background-repeat: no-repeat;
    background-size: 70vw 100vh;
    
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-form {
    background: #fff;
    padding: 20px;
   margin-right: 100px;
   margin-left: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  @media only screen and (max-width: 400px){
    .login-form{
      margin-left: 30px;
      margin-right: 30px;
    }
    .signup-form{
      margin-left: 30px;
      margin-right: 30px;
    }
    .signup-container{
      background-size: cover;
    }
    .login-container{
      background-size: cover;
    }
  }
  @media only screen and (max-width: 550px){
    .login-form{
      margin-left: 30px;
      margin-right: 30px;
    }
    .signup-form{
      margin-left: 30px;
      margin-right: 30px;
    }
    .signup-container{
      background-size: cover;
    }
    .login-container{
      background-size: cover;
    }
  }